<template>
    <section>
        <v-layout wrap ma-6 justify-center>
        <v-flex md12 px-2>

        <!-- (PUNTO 4 DEL DESAFIO)  Boton para resetear variables-->
        <v-btn outlined @click="reset()">
                Reset 
            </v-btn>

        <p></p>
        <h1>Numero de Compras: {{ compras }}</h1>
        <h1>Población Total: {{ precioFormat(poblacion) }}</h1>
        <h1>Promedio Población: {{ precioFormat(promedio) }}</h1>
        <h1>Área Total: {{ precioFormat(area) }}</h1>
        <h1>Paises Favoritos: {{ likes }}</h1>
        
        <!-- (PUNTO 2 DEL DESAFIO) Lista para comprobar funcionamiento de agregaciones -->
        <h1> Paises Seleccionados: {{agregaciones }}</h1>
        
        <!-- (PUNTO 3 DEL DESAFIO) Ultimas 5 agregaciones  -->
        <h1>Ultimas 5 Agregaciones:</h1>
        <li v-for="(item1,index) in ultimasAgregaciones" :key="index">{{ item1 }} </li>

        <p></p>


        <!-- (PUNTO 4 DEL DESAFIO) V-Dialog para mostrar los paises con Like --> 
            <v-dialog v-model="dialog" scrollable max-width="300px">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        color="primary"
                        dark
                        v-bind="attrs"
                        v-on="on"
                    >
                    Paises Con Like
                    </v-btn>
                </template>
                <v-card>
                    <v-card-title>Paises con Like </v-card-title>
                        <v-divider></v-divider>
                            <v-card-text style="height: 300px;">
                                <v-radio-group v-model="dialogm1" column>
                                    <li v-for="(item,index) in paisesConLike" :key="index">{{ item }} </li>
                                </v-radio-group>
                            </v-card-text>
                        <v-divider></v-divider>
                            <v-card-actions>
                                <v-btn color="blue darken-1" text @click="dialog = false">Cerrar</v-btn>
                            </v-card-actions>
                </v-card>
            </v-dialog>
        <p></p>
        </v-flex>
        <v-flex v-for="(pais, index) in paises" :key="index" sm3 xs12 px-2 mb-5>
        <v-card class="mx-auto">
            <v-img class="white--text" height="180px" v-bind:src="pais.flag" />
            <v-card-title>{{ pais.name }}</v-card-title>
            <v-card-text>
            <div class="subtitle-1">Capital: {{ pais.capital }}</div>
            <div class="subtitle1">
                Población:{{precioFormat(pais.population)}}
            </div>
            
            </v-card-text>
            
            <v-card-actions>

            <v-btn :color="estadoLike[index] ? 'red' : 'default'" icon @click="like(estadoLike[index], index,pais.name)">
            
            <v-icon>mdi-heart</v-icon>
            
            </v-btn>
            
            <v-spacer />
            
            <v-btn outlined @click="agregar(pais.population, pais.area,pais.name)">
                Agregar
            </v-btn>
            </v-card-actions>
            </v-card>
        </v-flex>
        </v-layout>
    </section>
</template>


<script>
//Llamado a los Helpers
import { mapState, mapGetters, mapMutations, mapActions} from "vuex";
export default {
    data() {
    return {
    
//variables para el v-dialog
    dialogm1:'',
    dialog:false,
    };
    },
    computed: {
 //Llamados a los datos de las variables de Store.
    ...mapState(["compras"]),
    ...mapState(["poblacion"]),
    ...mapState(["area"]),
    ...mapState(["paises"]),
    ...mapState(["likes"]),
    ...mapState(["agregaciones"]),
    ...mapState(["paisesConLike"]),
    ...mapState(["estadoLike"]),

 //Llamado al getter.
    ...mapGetters(['promedio']),
    ...mapGetters(['ultimasAgregaciones']),
    },
    created() {
 //Se llama a la action para obtener los países
    this.getAllCountries();
    },
    methods:{
 //Llama a las mutaciones del Store para que puedan utilizarse como metodos.
    ...mapMutations(["setLikes"]),
    ...mapMutations(["getLikes"]),
    ...mapMutations(["nuevaCompra"]),
    ...mapMutations(["agregarArea"]),
    ...mapMutations(["getName"]),
    ...mapMutations(["reset"]),
    ...mapMutations(["indexLike"]), 
    ...mapMutations(["estadodelLike"]),

 //Llamado a Actions para ser utilizado como un metodo local.
    ...mapActions(['getAllCountries']),
    /*Método para cambiar el formato del precio mostrado en la vista
    (Población de la respuesta obtenida de la API)*/
    precioFormat(population) {
    return population.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
/*Método que realiza un commit (mutation) con el objetivo de
    aumentar o disminuir la cantidad de likes según
    el estado del objeto al cual se le dio like*/



/* Metodo ACTUALIZADO para el uso de un state de likes */
    like(estado,index,nombrePais){
        this.indexLike(index)
        this.estadodelLike(estado)
        this.getLikes(nombrePais)
    },

    
/*Método que realiza un commit para aumentar el contador de compras
    y asignar el precio a la variable state.costos creada y llamada
    en el mutation nuevaCompra*/
    agregar(precio, area, agregaciones) {
    this.nuevaCompra(precio);
    this.agregarArea(area)
    this.getName(agregaciones)
        }
    }
};
</script>